$accent-color-a100: #224e89; // accent color used @ 100%
$accent-color-a70: #30568b; // accent color used @ 70%
$accent-color-a30: #53698e; // accent color used @ 30%
$accent-color-b: #5F656F;
$accent-color-c: #323946;
$input-border: #DBDEE5;
$most-dark: #000000;
$cape-background: #EDEFF3;
$most-light: #FFFFFF;
$interactive: #0079C4;
$interactive-off: #B6BECD;
$negative: #DE233C;
$positive:  #008545;
