$accent-color-a100: #224e89; // accent color used @ 100%
$accent-color-a70: #30568b; // accent color used @ 70%
$accent-color-a30: #53698e; // accent color used @ 30%
$accent-color-b: #5f656f;
$accent-color-c: #323946;
$input-border: #dbdee5;
$most-dark: #000000;
$cape-background: #edeff3;
$most-light: #ffffff;
$interactive: #0079c4;
$interactive-off: #b6becd;
$negative: #de233c;
$positive: #008545;
$credit-pack-color: #ecbc5d;
$box-shadows: rgba(0, 0, 0, 0.08);
$webkit-tap-highlight-color: rgba(0, 0, 0, 0);
$input-focus-box-shadow: rgb(0 0 0 / 10%);
$loader-0: rgba(165, 165, 165, 0.1);
$loader-50: rgba(165, 165, 165, 0.3);
$loader-100: rgba(165, 165, 165, 0.1);
$button-ripple-secondary: rgba(0, 121, 196, 0.7);
$button-ripple-primary: rgba(255, 255, 255, 0.7);
$button-ripple-close: rgba(222, 35, 60, 0.7);
$button-hover-box-shadow: rgb(0 0 0 / 10%);
