$accent-color-a100: #224e89; // accent color used @ 100%
$accent-color-a70: #30568b; // accent color used @ 70%
$accent-color-a30: #53698e; // accent color used @ 30%
$accent-color-b: #5f656f;
$accent-color-c: #323946;
$input-border: #dbdee5;
$most-dark: #000000;
$cape-background: #edeff3;
$most-light: #ffffff;
$interactive: #0079c4;
$interactive-off: #b6becd;
$negative: #de233c;
$positive: #008545;
$credit-pack-color: #ecbc5d;
