@import './typography';
*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  flex-direction: row;
  // min-height: 100vh;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  color: $accent-color-c;
  background-color: $cape-background;
}

.content-area{
  align-self: flex-start;
  flex: 1;
  width: calc(100% - 140px);
}

.center {
    text-align: center;
}
// Cater for mobile devices below 768px
@media only screen 
  and (max-width: 768px) { 
  body {
    flex-direction: column;
    .content-area{
      align-self: flex-start;
      flex: 1;
      width: 100%;
    }
  }
}