.view-controls {
  width: auto;
  padding: 36px 0px;
  position: absolute;
  right: 30px;
  top: 0;
}

.content-block {
  display: flex;
  margin: 20px 30px;
  padding: 20px 20px 24px 20px;
  background: $most-light;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  .block {
    &:not(.last) {
      margin-right: 20px;
    }
    h1 {
      @include app-font(BoldFont, 18px, 700);
      color: $most-dark;
      margin-block-start: 0px;
    }
    .block-inner {
      background-color: $cape-background;
      border-radius: 12px;
      padding: 2px 12px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    &:not(.no-background) {
      h1 {
        margin-left: 12px;
      }
    }
  }
}

.add-plan {
  margin: 20px auto 16px auto;
}

@media only screen and (max-width: 768px) {
  .view-controls {
    width: auto;
    padding: 12px;
    right: 0;
  }
  // For Member details
  .content-block {
    flex-direction: column;
    margin: 8px;
    width: calc(100vw - 16px);
    padding: 10px 10px 12px;
    .block {
      &.details,
      &.settings {
        width: 100%;
        .block-inner {
          height: auto;
          padding-bottom: 16px;
        }
      }
    }
  }
  .add-plan {
    width: 100%;
    margin: 12px;
  }
}
