a {
  text-decoration: none;
  color: $interactive;
  @include app-font(BoldFont, 16px, 700);
  &:hover {
    border-bottom: 2px solid red;
  }
  &.button {
    display: inline-block;
    padding: 6px 22px;
    background: $most-light;
    border: 1px solid $interactive;
    border-radius: 12px;
    outline: 0;
    overflow: hidden;
    position: relative;
    transition: background 400ms;
    cursor: pointer;
    span.ripple {
      position: absolute; /* The absolute position we mentioned earlier */
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 600ms linear;
      background-color: $button-ripple-secondary;
    }

    &:hover {
      box-shadow: 0px 0px 6px 2px $button-hover-box-shadow;
      transform: scale(1.01);
    }
    &:active {
      box-shadow: inset 0px 0px 6px 2px $button-hover-box-shadow;
    }

    &.negative,
    &.positive {
      span.ripple {
        background-color: $button-ripple-primary;
      }
    }
    &.negative {
      color: $most-light;
      background-color: $negative;
      border: 1px solid $negative;
    }

    &.positive {
      color: $most-light;
      background-color: $positive;
      border: 1px solid $positive;
    }

    &.close {
      color: $negative;
      border: none;
      background: $most-light;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      width: 60px;
      height: 60px;
      border-radius: 100%;
      padding: 20px;
      font-size: 18px;
      font-size: 28px;
      text-align: center;
      .fas {
        line-height: 18px;
        vertical-align: middle;
      }
      &:hover {
        box-shadow: 0px 0px 6px 2px $button-hover-box-shadow;
        border: 1px solid $negative;
        transform: scale(1.03);
      }
      &:active {
        box-shadow: inset 0px 0px 6px 2px $button-hover-box-shadow;
      }
      span.ripple {
        background-color: $button-ripple-close;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  a {
    &.button {
      &.close {
        width: 36px;
        height: 36px;
        padding: 10px;
        font-size: 20px;
      }
    }
    .add-plan & {
      width: calc(100% -24px);
    }
  }
}
