.member-profile {
  .details,
  .settings {
    width: 50%;
    .block-inner {
      height: 27vh;
      min-height: 210px;
    }
  }
  .settings {
    .block-inner {
      justify-content: space-between;
      padding-bottom: 16px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .settings {
    margin-top: 16px;
  }
}
